@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
:root{
    --green : #116530;
    --lightGrey : #E8E8CC;
    --darkGrey : #B2B2B2;
    --lightBlack : #383838;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    background-color: var(--green);
    color: var(--lightGrey);
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logInButton, #logout{
    padding: 1% 2.5%;
    height: fit-content;
    background-color: var(--lightGrey);
    color: var(--green);
    border-radius: 5px;
    cursor: pointer;
}

#logout{
    display: none;
}

.redirect{
    cursor: pointer;
}

#user_page{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    display: none;
}

#profile{
    width: 50%;
    box-sizing: border-box;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profile img{
    width: 200px;
    height: 200px;
}

#profile table{
    min-width: 60%;    
    transform: translateX(15%);
}

#profile table td{
    padding: 1%;
    width: 50%;
}


#reg_login{
    position: relative;
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#warningSignUp,#warningSignIn{
    position: absolute;
    top: 15%;
    right: 5%; 
    border: 1px solid var(--lightBlack);
    padding: 2%;
    display: none;   
}

.validator{
    color: red;
}

.correct{
    color: var(--green);
}

.correct::before{
    content: "✓";
    font-weight: bold;
}


#logo{
    width: 400px;
    height: 400px;
}

#reg_login h1{
    color: var(--green);
}

#reg_login>form{
    border: 1px solid var(--lightBlack);
    margin-bottom: 3%;
    padding: 3% 5%;
    width: 20%;
    display: none;
}

input{
    margin: 5% 0;
    border: 0;
    border-bottom: 1px solid var(--darkGrey);
    outline: 0;
    width: 100%;
}

#login_password, #password{
    width: fit-content
}

input{
    font-size: 1rem;
}

input[type = "radio"]{
    width: fit-content;
}

input[type="submit"]{
    padding: 5%;
    background-color: var(--green);
    color: var(--lightGrey);
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:disabled{
    background-color: var(--darkGrey);
}

.fa-solid{
    cursor: pointer;
}

#banking{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#balance, #savings1_balance, #savings2_balance {
    display: inline-block;
    padding: 4%;
    background-color: var(--green);
    color: var(--lightGrey);
}

#deposit_withdraw{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#deposit_withdraw>form{
    border: 1px solid var(--lightBlack);
    padding: 3% 5%;
}

#savings{
    width: 100%;
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid var(--lightBlack);
    margin: 5%;
}

#savings h1{
    width: 100%;
    text-align: center;
}


#savings1_balance, #savings2_balance{
    padding: 2.5%;
    margin-bottom: 5%;
}



